.header__link {
    margin-left: 40px;


}
.header__links {
    padding-left: 100px;
}

.form {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.form label {
    font-size: 30px;
}
